# File: requirements.txt
# Created Date: 2021-01-24
# Author: Steven Atkinson (steven@atkinson.mn)

auraloss
black
flake8
matplotlib
numpy
onnx
onnxruntime
pip
pre-commit
pytest
pytest-mock
pytorch_lightning
scipy
sounddevice
torch
tqdm
wavio<=0.0.4  # Breaking change in 0.0.5
wheel
