# File: requirements.txt
# Created Date: 2021-01-24
# Author: Steven Atkinson (steven@atkinson.mn)

auraloss==0.3.0  # 0.4.0 changes API for MRSTFT loss
black
flake8
matplotlib
numpy
onnx
onnxruntime!=1.16.0  # 1.16.0 has a bug to avoid!
pip
pre-commit
pydantic
pytest
pytest-mock
pytorch_lightning
scipy
sounddevice
torch
# Not required, but if you have it, it needs to be recent enough so I'm adding
# it.
transformers>=4
tqdm
wavio
wheel
