# File: environment_gpu.yml
# Created Date: Saturday February 13th 2021
# Author: Steven Atkinson (steven@atkinson.mn)

name: nam
channels:
  - conda-forge # pytest-mock
  - pytorch
  - nvidia  # GPU
  - defaults
dependencies:
  - python>=3.9
  - black
  - flake8
  - h5py
  - jupyter
  - matplotlib
  - numpy<2
  - pip
  - pre-commit
  - pydantic>=2
  - pytest
  - pytest-mock
  - pytorch::pytorch
  # If your GPU isn't being detected, you may need a different version.
  # You're going to need to look at Table 3 here: 
  # https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html#cuda-major-component-versions__table-cuda-toolkit-driver-versions
  - pytorch::pytorch-cuda=12.1  # GPU
  - semver
  - tensorboard
  - tqdm
  - wheel
  - pip:
      - auraloss==0.3.0
      - pytorch_lightning
      - sounddevice
      - transformers>=4  # See requirements.txt
      - wavio >=0.0.5
      - -e ..
