# File: requirements_cpu_apple.txt
# Created Date: Tuesday May 27th 2025
# Author: Steven Atkinson (steven@atkinson.mn)

auraloss==0.3.0
black
flake8
h5py
jupyter
matplotlib
numpy<2
pydantic
pytest
pytest-mock
pytorch_lightning
semver
sounddevice
tensorboard
torch
tqdm
transformers>=4
wavio>=0.0.5
