# File: requirements_gpu.txt
# Created Date: Tuesday May 27th 2025
# Author: Steven Atkinson (steven@atkinson.mn)

# Performance note:
# https://github.com/sdatkinson/neural-amp-modeler/issues/505
# Or some other cuda version than 12.8. See https://pytorch.org/get-started/locally/
-i https://download.pytorch.org/whl/cu128
torch
